tests/fixtures/TypeWithRequiredAttributes.xsd

<?xml version="1.0" encoding="iso-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0">
	<xsd:element name="type_with_required_attributes">
		<xsd:complexType>
			<xsd:attribute name="WOHNEN" type="xsd:boolean" use="required"/>
			<xsd:attribute name="ANLAGE" type="xsd:boolean"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>